{% extends 'avaloq_app/base.html' %} 
{% block title %} 
Login 
{% endblock %} 
{% block content %}

<div id="background">

    <div id="loginBox">
        
        <div id="insideBlueLogin">

            <h1>Log In</h1>

            <form method="post" action=".">
                {% csrf_token %} 
                
                {% for field in form %}
                
                    {%if field.html_name == "username" %}

                        <input class="form-control" id="{{ field.id_for_label }}" maxlength="20" name="{{ field.html_name }}" placeholder="username" type="text" />
                        {% for error in field.errors %}
                            <p id="formError">{{ error }}</p>
                        {% endfor %}
                        <br> 
                    {%elif field.html_name == "password" %}

                        <input class="form-control" id="{{ field.id_for_label }}" maxlength="20" name="{{ field.html_name }}" placeholder="password" type="password" />
                        {% for error in field.errors %}
                            <p id="formError">{{ error }}</p>
                        {% endfor %}
                        <br> 
                    {%endif%} 
                {% endfor %}
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p id="formError">{{ error }}</p>
                    {% endfor %}
                {%endif%}
                
                <button class="btn" id="loginBtn" type="submit">LOG IN</button>
                <input type="hidden" name="next" value="{{ next }}" />

            </form>
        </div>
    </div>
</div>
{% endblock %} 
{%block login%} 
{%endblock%}
