{% extends 'avaloq_app/base.html' %} {% block title %} Password Changed {% endblock %} {% block content %}
{% load static %}

<div id="background">
    <div id="subBox">
        <div id="inside">

            <h1>Password changed</h1>
            <h3>Your password has been successfully changed!</h3>
            <div id="check">
                <img src="{% static 'images/check.png' %}" id="tickDone">
    
                
            </div>
            <a class="btn" id="ReturnReviewBtn" href="{% url 'avaloq:review'  %}">Return to Reviewer Page</a>

        </div>
       
        


    </div>


    </div>

{% endblock %} {%block login%} {%endblock%}