{% extends 'avaloq_app/base.html' %} {% block title %} Change your Password {% endblock %} {% block content %}
{% load static %}



<div id="backgroundPass">
<div class="container">
    <div class="row" style="background-color: #ffffff ; box-shadow: none; width:65rem;">
      <div class="col-md" style="padding-left: 0;">
        <img src="{% static 'images/girl.PNG' %}" style="height: 27rem; width: 35rem;">
      </div>
      <div class="col-sm">
        <div id="inside">
            <h1 style="color: rgb(37, 37, 37);">Forgot Password</h1>

            <form method="post" action=".">
                {% csrf_token %} {% for field in form %} {%if field.html_name == "old_password" %}

                <input class="form-control" id="{{ field.id_for_label }}" maxlength="20" name="{{ field.html_name }}" placeholder="Enter your old password" type="password" style="border-color:#0097DB; box-shadow: none; background-color: #e7f9ff; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 0.7rem; color: rgb(41, 41, 41); width:23rem;"/>
                <p>{{form.old_password.errors}}</p>
                <br> {%elif field.html_name == "new_password1" %}

                <input class="form-control" id="{{ field.id_for_label }}" maxlength="20" name="{{ field.html_name }}" placeholder="Enter your new password" type="password" style="border-color:#0097DB; box-shadow: none; background-color:  #e7f9ff; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 0.7rem; color: rgb(41, 41, 41); width:23rem;" />
                <p>{{form.new_password1.errors}}</p>
                <br> {%elif field.html_name == "new_password2" %}

                <input class="form-control" id="{{ field.id_for_label }}" maxlength="20" name="{{ field.html_name }}" placeholder="Re-enter new password" type="password" style="border-color:#0097DB; box-shadow: none; background-color:  #e7f9ff; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 0.7rem; color: rgb(41, 41, 41); width:23rem;" />
                <p>{{form.new_password2.errors}}</p>

                {%endif%} {%endfor%}

                <button class="btn" id="passwordBtn" type="submit">CHANGE PASSWORD</button>
            </form>
        </div>
      </div>

    </div>
</div>


</div>

{% endblock %}