{% extends 'avaloq_app/base.html' %}

{%block title%}Code Review{%endblock%}


{%block content%}
{% load static %}

<script src="{% static 'js\reviewSlider.js' %}"></script>

<!-- Nav Bar -->

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" id="userName">Welcome {{request.user.username}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">


        {%if admin%}

        <a  href="{% url 'avaloq:create_staff' %}" id="add">+ Staff</a> {%endif%}
        <a href="{% url 'avaloq:add-candidate' %}" id="add"> + Candidate</a>
        <ul class="navbar-nav ml-auto text-right">
            <a id="ChangePassword" href="{% url 'auth_password_change' %}"> <u>Change Password</u></a>
            <a class="btn btn-outline-success" type="button" id="lightBtn" href="{% url 'auth_logout' %}"> Log Out</a>


</nav>


<!-- slider  -->

<div id="box">         
    <div class="slidecontainer">

        <div>
            <button type="button" name="q2" value="q2" class="btn"  style="box-shadow: none;" id="q2" onclick="changeQuestion2()" > Question 2</button>
            <button type="button" name="q1" value="q1" class="btn" style="box-shadow: none; margin-bottom: -3rem;" id="q1" onclick="changeQuestion1()" > Question 1</button>
        </div> 

        <input type="range" min="0" max={{code_length}} value="50" class="slider" id="myRange">

	
	</div>

    <p id="clockText" id="code_text"><img src="{% static 'images/clock.png' %}" id="timeImg">Min <span id="demo"></span></p>
    
    <p id="language">
		Language: 
    </p>

            <form><textarea style="margin-top: 0rem;" id="code_entries" name="code_entries" placeholder="Code goes here..."></textarea></form>
    </div>

{#  ------------RESULTS-----------------#}

<div class="container-fluid padding" style="margin-top: -5rem;">
<div id="resultBox1">
    <div class="row" id="myrow">

        <div class="col-lg-3 col-md-3 col-sm-12" id="mycol">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab10" data-toggle="pill" href="#tc-10" role="tab" aria-controls="v-pills-home" aria-selected="true" >Test Case 0 <!-- <img id='tc-img' src="{% static 'images/tick.png' %}"> --></a>
            </div>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12" id="rightBox">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="tc-10" role="tabpanel" aria-labelledby="v-pills-home-tab" >
                    <h3>Compiler Message</h3>
                    <div id="boxes">
                        <h4 id="compiler10">  </h4>
                    </div>
                    <div id="input">
                        <h3>Test Case Name</h3>
                        <div id="boxes">
                            <h4 id="test_input10"></h4>
                        </div>
                    </div>
                    <h3>Candidate's Output (stdout)</h3>
                    <div id="boxes">
                        <h4 id="user_output10"></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


<script type="text/javascript">
        var code_entries = {{ code_entries | safe }};
        var verdicts = {{ verdicts | safe }};
        var code_entry0 = code_entries[0]
        var code_entry1 = code_entries[1]
        const modeJava ="text/x-java";
        const modePython = "text/x-python";
        {#editor initially set to java mode#}
        var editor= CodeMirror.fromTextArea(
        document.getElementById('code_entries'),{
            mode:"text/x-java",
            theme:"neo",
            lineNumbers:true,
            autoCloseTags:true,
            matchBrackets: true,
         });


        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value; // Display the default slider value

        // Update the current slider value (each time you drag the slider handle)
        slider.oninput = function() {
            updateEditor();
            snippetIndex=slider.value;
            output.innerHTML = this.value;
        }

        var snippetIndex= slider.value;

        // set up codemirror with initial conde snippet
        $(document).ready(function() {
            editor.setValue(code_entry0[snippetIndex].code);
			document.getElementById("language").innerHTML = "Language: " + code_entry0[snippetIndex].language;
        })

        showVerdicts();
</script>

        {%endblock%}

